body, html, #root, .app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #363f48;
    color: white;
    font: normal 12px 'Open Sans', sans-serif;
    margin-top: 20px;
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.app > span {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
}
